# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.claude/
.vscode/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

structure.txt
AGENTS.md
CLAUDE.md
LICENSE
ILLAMARN_NTERFACE.md
implementation_plan.md
.gitignore
LLAMARN_BREAKING.md
.gitignore
LLAMARN_LAST_CHANGE.md
.gitignore
LLAMARN_GPU.md
task.md
